// COLORS
$primary-color: #ff1e1e;
$secondary-color: #b6004c;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #222227; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.7rem;
